:root {
  --border-default: #E5E5E5;
  --border-focus: #27A2F8;
  --bg-highlight: #F0F0F0;
  --text-dark: rgba(0, 0, 0, 0.8);
  --text-light: rgba(0, 0, 0, 0.3);
  --icon-dark: #000;
  --icon-light: #6F6F6F;
}

body {
  font: 12px sans-serif;
  color: var(--text-dark);
  margin: 0;
}

@import './App.css';
@import './SearchBar.css';
@import './Filter.css';
@import './IconList.css';
@import './Icon.css';